[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=OpenBCI File Handler
Exec=java -jar /opt/OpenBCIFileHandler/OpenBCIFileHandler.jar
Icon=/opt/OpenBCIFileHandler/icon.png
